*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #222222;
    color: #fff;
    font-family: system-ui;
}
.crud{
    width: 80%;
    margin: auto;
}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}
.head h2{
    font-size: 40px;
    color: rgb(255, 34, 34);
}
.head p{
    font-size: 20px;
    font-weight: 500;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background: #111;
    margin: 4px 0;
    padding: 4px;
    color: #fff;
    transition: 0.3s;
    border-radius: 4px;
}
input:focus{
    background-color: #000;
    transform: scale(1.1);
}
.price input{
    width: 20%;
}
#total{
    background-color: rgb(253, 4, 4);
    padding: 5px 2px;
    border-radius: 4px;
}
#total::before{
    content: 'Total:';
    padding: 3px;
}
button{
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: rgb(109, 27, 2);
    border-radius: 20px;
    color: #fff;
    transition: 0.4s;
}
button:hover{
    background-color: rgb(219, 61, 13);
    letter-spacing: 1px;
}
.btnSearch{
    display: flex;
    justify-content: space-between;
}
.btnSearch button{
    width: 45%;
}
#deleteAll{
    margin: 20px 0;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0px;
    
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}